*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;

	// 10px / 16px = 62.5% : 1rem = 10px
	font-size: 62.5%;
	@media (max-width: 992px) {
		font-size: 57.5%;
	}
	@media (max-width: 768px) {
		font-size: 52.5%;
	}
	@media (max-width: 576px) {
		font-size: 47.5%;
	}
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	color: #1d1916;
}

img {
	display: block;
	max-width: 100%;
}

a {
	display: block;
	text-decoration: none;
	font: inherit;
	color: inherit;
}

button {
	font: inherit;
	color: inherit;
	background: inherit;
	border: none;
	cursor: pointer;
	outline: none;
}

input {
	font: inherit;
	border: none;
	background-color: inherit;
	outline: none;
}
