@mixin container($padding-vert: false) {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4rem;
	padding-right: 4rem;

	@if $padding-vert {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}
