$height-navbar: 104px;
$height-navbar-scrolled: 56px;

$color-black: #1d1916;
$color-white: #ffffff;
$color-gray: #878482;
$color-gray-light: #ece7e3;
$color-orange: #fc5811;
$color-bg: #f9f4f0;
$color-bg-light: #fcfaf8;
$color-bg-dark: #f4eae1;

$zIndex-navbar: 25;
