%footer-link {
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;

  &:hover {
    color: $color-orange;
  }
}

.footer {
  background-color: $color-bg-light;

  @media (max-width: 576px) {
    text-align: center;
  }

  &__inner {
    @include container();
  }

  // Top
  &__top {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding-top: 8rem;
    padding-bottom: 6rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  // Footer Left Column
  &__left {
    img {
      height: 2.5rem;
      width: auto;
      margin-bottom: 5rem;

      @media (max-width: 576px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;

    a {
      @extend %footer-link;
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }

  // Footer Center Column
  &__center {
    display: flex;
    justify-content: space-around;
  }

  &__info {
    @media (max-width: 576px) {
      margin-right: 2.5rem;
    }
  }

  &__info,
  &__social {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    a {
      @extend %footer-link;
      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__right {
    @media (max-width: 768px) {
      grid-column: 1 / -1;
    }
  }

  // Bottom
  &__bottom {
    border-top: 1px solid $color-gray-light;
    padding: 2rem 0;

    p {
      font-size: 1.2rem;
      color: $color-gray;
    }
  }
}
