// SECTION FOOTER
.section-footer {
	text-align: center;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;

	& > div {
		font-size: 1.5rem;
		line-height: 1.5;
		margin-bottom: 2rem;

		& > a {
			color: #4678ee;
			position: relative;
			width: max-content;
			margin: 0.5rem 0;
		}
	}
}
